<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/xrf-pmi-logo-footer.svg" alt="XRF PMI" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Primește noutățile</p>
			<p>... direct în căsuța ta de mail. Află primul.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">{{ .Site.Title }}</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Acasă</a></li>
					<li><a href="/despre" class="link">Despre</a></li>
					<li><a href="/articol" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
        <h3 class="f4 b lh-title mb1 primary">Descoperă</h3>
				<ul class="mb3">
          {{ range first 1 (where .Pages "Section" "articol") }}
          <li><a href="{{ .Permalink }}" class="link">{{ .Title }} </a></li>
          {{ end }}
					<li><a href="/contact" class="link"></a></li>
				</ul>
			</div>
      
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
