<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/xrf-pmi-logo.svg" alt="XRF-PMI" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/articol" class="pa3 no-underline db">Blog</a></li>
		
		<li><a href="/despre" class="pa3 no-underline db">Despre noi</a></li>

		<li><a href="/metoda" class="pa3 no-underline db">Metoda XRF</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
